.container {
  margin-top: 100px;
}

.unit-frame {
  width: 640px;
  margin-left: 100px;
  margin-top: 100px;
}

.board {
  width: 640px;
  margin-left: 100px;
}

.card {
  width: 118px;
  height: 165px;
  float: left;
  margin: 5px;
  background-position: 9px 15px;
  background-repeat: no-repeat;
}

.card:hover {
  background-position: 9px 5px;
}

.progress {
  width: 630px;
  height: 20px;
  margin: 5px;
}
