.card {
  width: 100px;
  height: 165px;
  float: left;
  margin: 5px;
  background-position: center;
  background-repeat: no-repeat;
}

.board {
  width: 565px;
  margin-left: 250px;
}

.card1hm {
  background-image: url(../img/1hm.png);
}

.card1dm {
  background-image: url(../img/1dm.png);
}

.card1am {
  background-image: url(../img/1am.png);
}

.card1hp {
  background-image: url(../img/1hp.png);
}

.card1dp {
  background-image: url(../img/1dp.png);
}

.card1ap {
  background-image: url(../img/1ap.png);
}

.card1hw {
  background-image: url(../img/1hw.png);
}

.card1dw {
  background-image: url(../img/1dw.png);
}

.card1aw {
  background-image: url(../img/1aw.png);
}


.card2hm {
  background-image: url(../img/2hm.png);
}

.card2dm {
  background-image: url(../img/2dm.png);
}

.card2am {
  background-image: url(../img/2am.png);
}

.card2hp {
  background-image: url(../img/2hp.png);
}

.card2dp {
  background-image: url(../img/2dp.png);
}

.card2ap {
  background-image: url(../img/2ap.png);
}

.card2hw {
  background-image: url(../img/2hw.png);
}

.card2dw {
  background-image: url(../img/2dw.png);
}

.card2aw {
  background-image: url(../img/2aw.png);
}


.card3hm {
  background-image: url(../img/3hm.png);
}

.card3dm {
  background-image: url(../img/3dm.png);
}

.card3am {
  background-image: url(../img/3am.png);
}

.card3hp {
  background-image: url(../img/3hp.png);
}

.card3dp {
  background-image: url(../img/3dp.png);
}

.card3ap {
  background-image: url(../img/3ap.png);
}

.card3hw {
  background-image: url(../img/3hw.png);
}

.card3dw {
  background-image: url(../img/3dw.png);
}

.card3aw {
  background-image: url(../img/3aw.png);
}
