<div class="score">score: {{playerScore}}</div>

<!-- board -->
<div class="board">
  <div ng-repeat="card in board" ng-click="clickCard(card)" ng-class="{active: card.selected}"
       ng-style="cardStyle(card)"
       class="card btn btn-large btn-block palette-clouds">
  </div>

  <div class="progress">
    <div class="bar bar-warning" ng-style="boostStyle()"></div>
  </div>
</div>

<ul>
  <li ng-repeat="event in events" ng-show="event.message">
    <span ng-class="{player: true, me: player == playerId}">{{event.player}}</span>:
    {{event.message}}
  </li>
</ul>
