<!-- enemy -->
<div class="container">

  <div class="row">
    <div class="span8">
      <img ng-src="{{enemy.img}}"/>

      <h2>{{enemy.name}}</h2>

      <p><strong>Health</strong> {{enemyHealth()}}/{{enemy.health}}</p>

      <div class="progress">
        <div class="bar bar-danger" ng-style="enemyHealthStyle()"></div>
      </div>
    </div>
  </div>

  <!-- board -->
  <div class="board">
    <div ng-repeat="card in board" ng-click="clickCard(card)" ng-class="{active: card.selected}"
         ng-style="cardStyle(card)"
         class="card btn btn-large btn-block palette-clouds">
    </div>
  </div>

  <!-- player -->
  <div class="row">
    <div class="span8">
      <div class="progress">
        <div class="bar bar-success" ng-style="boostStyle()"></div>
      </div>

      <div class="row">
        <div class="span2">
          <p><strong>Boost</strong> {{boost}}</p>
        </div>
        <div class="span2">
          <p><strong>Damage</strong> {{playerDamage}}</p>
        </div>
        <div class="span2">
          <p><strong>Sets</strong> {{playerSets}}</p>
        </div>
        <div class="span2">
          <p><strong>Damage Per Set</strong> {{damagePerSet(playerDamage, playerSets)}}</p>
        </div>
      </div>

      <div class="row">
        <div class="span3">
          <h2>{{player.name}}</h2>
          <img ng-src="{{talents[player.talent].img}}"/>
        </div>
        <div class="span5">
          <div ng-include src="'leaderboard.html'"></div>
        </div>
      </div>
    </div>

  </div>

  <ul>
    <li ng-repeat="event in events" ng-show="event.message">
      <span ng-class="{player: true, me: player == playerId}">{{event.player}}</span>:
      {{event.message}}
    </li>
  </ul>

</div>