<div class="container">
  <div class="row">
    <div class="span5">
      <h1>Emoticon Battle Arena</h1>
    </div>
    <div class="span3">
      <a ng-href="{{playHref()}}" href="#" class="btn btn-large btn-block btn-danger">Join Battle</a>
    </div>
  </div>

  <!-- player -->
  <h2>Player</h2>

  <h5>Name</h5>

  <div class="row">
    <div class="span8">
      <input type="text" ng-model="player.name" ng-change="savePlayer()" value="{{player.name}}" class="span3"/>
    </div>
  </div>

  <div class="row">
    <div class="span5">
      <h5>Talent</h5>

      <div class="btn-group">
        <div ng-repeat="talentName in talentNames" ng-click="selectTalent(talentName)"
             ng-class="{active: player.talent == talentName}" class="btn btn-inverse">{{talents[talentName].label}}
        </div>

      </div>

      <div class="row">
        <div class="span2">
          <br/>
          <img ng-src="{{talents[player.talent].img}}"/>
        </div>
        <div class="span3">
          <br/>
          <h5>{{talents[player.talent].label}}</h5>

          <p>{{talents[player.talent].description}}</p>
        </div>
      </div>

    </div>

    <div class="span3">
      <div ng-include src="'_statistics.html'"></div>
    </div>

  </div>


  <hr/>

  <div class="row">
    <div class="span5">
      <h2>Reset</h2>
    </div>
    <div class="span3">
      <a ng-href="{{resetHref()}}" ng-click="reset()" href="#" class="btn btn-large btn-block btn-inverse">Reset
        Game</a>
    </div>
  </div>
</div>
